.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}